.page-template-template-empty {
    background: #fff !important;
}

#empty-template {
    .main-header {
        display: none;
    }

    .main-footer {
        display: none;
    }

    .sticky-popup {
        display: none;
    }
}