.gform_wrapper .field_sublabel_above .ginput_complex label {
    margin: .625em 0 .5em;
    font-weight: 700;
    display: -moz-inline-stack;
    display: inline-block;
    line-height: 1.3;
    clear: both;
    color: #666;
    font-family: "AntonioRegular";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    color: #666;
}